body {
    background-color: rgb(17,130,59);
    text-align: center;
    margin: 0%;
}

#back {
    background-color: rgb(72,191,83);
    height: 90%;
    width: 90%;
    vertical-align: middle;
    margin: auto;
    display: inline-block;
    border-radius: 2em;
}

.frogs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.frog {
    background-color: rgb(145,240,134);
    height: 15em;
    width: 15em;
    margin: 2em;
    border-radius: 2em;
}
